{% extends "signbase.html" %}
{% block content %}
      <div class="w-full max-w-md bg-white dark:bg-gray-800 rounded-xl shadow-lg p-6">
            <h2 class="text-2xl font-bold text-center mb-6">Register</h2>

            <form class="space-y-4" action="{{ url_for('register') }}" method="post">
                  <div>
                        <label class="block mb-1 font-semibold">Username</label>
                        <input type="text" class="w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white text-gray-900" placeholder="Enter your username" required name="username">
                  </div>
                  <div>
                        <label class="block mb-1 font-semibold">Full Name</label>
                        <input type="text" class="w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white text-gray-900" placeholder="Enter your full name" required name="name">
                  </div>
                  <div>
                        <label class="block mb-1 font-semibold">Email</label>
                        <input type="email" class="w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white text-gray-900" placeholder="Enter your email" required name="email">
                  </div>
                  <div class="relative">
                      <label class="block mb-1 font-semibold">Password</label>
                      <input type="password" id="password" class="w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-700 dark:text-white text-gray-900" placeholder="Create a password" required name="password"
                         pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                         title="Include a lowercase letter, an uppercase letter, a number, and a special character."
                         minlength="8"
                      >
                      <!-- Toggle Icon -->
                      <button type="button" id="toggle-password" class="absolute right-3 top-9 text-gray-500 dark:text-gray-300">
                          <svg id="eye-icon" class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                              <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                              <path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                          </svg>
                      </button>
                  </div>

                  <button type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white py-2 rounded-lg font-semibold">Register</button>
            </form>

            <p class="text-center text-sm text-gray-600 dark:text-gray-400 mt-4">
              Already have an account?
              <a href="/login" class="text-blue-500 hover:underline">Sign In</a>
            </p>
      </div>
{% endblock %}

